.container {
    width: var(--col-3);
    background-color: var(--background-color);
    margin-right: 8px;
    padding: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: var(--text-color);

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: 0.05ch;

        h3 {
            font-size: 2rem;
        }
        
        .add-icon {
            color: var(--text-color);
            font-size: 2.2rem;
            font-weight: 300;
        }
    }

    .header-totalnote {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.note {
    padding: 16px;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 10px;

    .noteTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        strong {
            font-size: 1.6rem;
            color: var(--text-color);
        }

        button {
            padding: 4px;
            font-size: 1.2rem;
            color: red;
            background-color: transparent;
            cursor: pointer;
        }
    }

    p {
        font-size: 1.5rem;
        color: var(--text-color);
        margin-bottom: 8px;
    }

    small {
        font-size: 1rem;
        color: var(--text-color);
    }
}

.active {
    background-color: var(--note-item-color);
}